.input {
	width: 90%;
	padding: 5px;
	padding-left: 20px;

	transition-duration: 300ms;

	color: var(--primary);
	border: 2px solid var(--lighter);
	border-radius: 10px;
	outline: none;
	background: var(--white);
	box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
}

.input:hover,
.input:focus {
	border-color: var(--primary);
}

.error_input {
	border-color: var(--error) !important;
}

.eye_input {
	width: 100%;
}

@media (max-width: 580px) {
	.input {
		padding-left: 15px;
	}
}
