.authBlock {
	display: grid;

	width: 90%;
	max-width: 300px;
	height: fit-content;
	margin-bottom: 60px;
	padding: 40px;

	border-radius: 10px;
	background: var(--white);
	gap: 12px;
	justify-items: center;
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.forgotPassword {
	cursor: pointer;
	transition-duration: 300ms;

	color: var(--light);

	font-weight: 400;
}

.forgotPassword:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
}

@media (min-width: 1024px) {
	.forgotPassword:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
	}
}

@media (max-width: 580px) {
	.authBlock {
		padding: 30px;
	}
}

@media (max-width: 400px) {
	.authBlock {
		padding: 10px;
	}

	.arrowBack {
		margin: 10px 0 0 10px;
	}
}

@media (max-width: 300px) {
	.authBlock {
		padding: 10px 5px;
	}
}
